node_modules/

.vscode/
.husky/
.turbo/

apps/web/.next/
apps/mobile/.expo/

Dockerfile
docker-compose*.yml
.dockerignore

.git/
.gitignore

.env*
commitlint.config.ts

README.md
_local/

apps/web/uploads/
